name: Schedule Workflow

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [main]

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Print Message
        run: echo "Schedule Workflow exwcuted"       
